<% layout('./layouts/boilerplate') -%> <% block('head').append(`<link
  rel="stylesheet"
  href="/css/index.css"
/>`)%>
<h1>I am the <%= what %> template</h1>
<button onclick="myFunction()">Click me</button>

<% block('footer').append(`
<script src="/js/index.js"></script>
` ) %>
